.check_product {
  background-color: $secondaryColor;
}

.check_product_wrapper {
  padding: 50px 200px;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
  width: 781px;

  @include sm {
    width: 80%;
    padding: 50px 13%;
  }
  @include xxs {
    width: 90%;
    padding: 50px 8%;
  }

  .figure__ {
    width: fit-content;
    margin: 0 auto;
  }

  .title {
    font-size: 1.6rem;
    font-weight: 700;
    color: $primaryColor;
    margin: 15px 0;
  }

  .parg {
    font-size: 1.4rem;
    font-weight: 300;
    color: $paragraphMainColor;
    margin-bottom: 33px;
  }
}
